div {
  margin: 20px;
  padding-left: 8px;
}


#red {
    color: #5f00f6;
    background-color:#ff3333;
    font-family: cursive;
    font-size: 23px;
    text-align: center;
    height:300px;    
}


#orange {
    color: #0029f6;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;}

#yellow {
    color: DarkCyan;
    background-color:#fdff33;
    font-family: Garamond;
    font-size: 15px;}


#G {
    color: #00f0f6;
    background-color: #17a327;
    font-family: monospace;
    font-size: 13px;}

#B {
    color: #e8ff2d;
    background-color:#2717a3;
    font-family: Univers;
    font-size: 10px;}

#DB {
    color: #ffb72d;
    background-color:#170e60;
    font-family: fantasy;
    font-size: 8px;}

#P {
    color: purple;
    background-color:#400e60;
    font-family: monospace;
    font-size: 7px;}
    
#grey {
    background-color: white;
    color: red;
    font-family: fantasy;
    font-size: 30px;}

#black {
    color:white;
    background-color:#000000;
    font-family: cursive;
    font-size: 80px;
    height:500px;
}