h1 {
    background-color: #ffc0cb;
    height:500px;
    width:500px;
    border-radius:500px;
    -moz-border-radious: 200px;
    -webkit-border-radious: 200px;
    position: center;
    margin-left: 300px;
}
    
div {
  margin: 20px;}

#HYJK {
    background-color: #5f00f6;
    font-family: monospace;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
}
    