h1 {
    background-color: #ffc0cb;
    height: 300px;
    width:1000px;}
    
div {
  margin: 50px;}

#HYJK {
    background-color: #5f00f6;
    font-family: monospace;
    font-size: 100px;
    font-weight: bold;
    text-align: center}
    