.button{
    top:-10%;
    margin:0;
    padding:0;
    display:block;
    text-align:center;
}

h4{
    font-family:univers;
    position:absolute;
    margin:0;
    padding:0;
    display:none;
}
.ss1{
    top:50%;
    left:70%;
}
.ss2{
    top:53%;
    left:70%;
}
.ss3{
    top:56%;
    left:70%;
}
.ss4{
    top:59%;
    left:70%;
}
.ss5{
    top:62%;
    left:70%;
}
.ss6{
    top:65%;
    left:70%;
}
.ss7{
    top:68%;
    left:70%;
}
.ss8{
    top:71%;
    left:70%;
}




/*---------------img-------------------------*/
.sw{
    position:absolute;
    margin:0;
    padding:0;
    display:inline-block;
}

/*---------------yourself-------------------------*/
.yourself1{
    top:15%;
    left:60%;
}
.yourself2{
    top:40%;
    left:40%;
}
.yourself3{
    top:50%;
    left:10%;
}
.yourself4{
    top:80%;
    left:75%;
}
.yourself5{
    top:85%;
    left:25%;
}
.yourself6{
    top:65%;
    left:55%;
}
.yourself7{
    top:40%;
    left:85%;
}
.yourself8{
    top:10%;
    left:25%;
}

/*---------------flower-------------------------*/
.flower1{
    top:15%;
    left:60%;
}
.flower2{
    top:40%;
    left:40%;
}
.flower3{
    top:50%;
    left:10%;
}
.flower4{
    top:80%;
    left:75%;
}
.flower5{
    top:85%;
    left:25%;
}
.flower6{
    top:65%;
    left:55%;
}
.flower7{
    top:40%;
    left:85%;
}
.flower8{
    top:10%;
    left:25%;
}


/*---------------rose-------------------------*/
.rose1{
    top:15%;
    left:60%;
}
.rose2{
    top:40%;
    left:40%;
}
.rose3{
    top:50%;
    left:10%;
}
.rose4{
    top:80%;
    left:75%;
}
.rose5{
    top:85%;
    left:25%;
}
.rose6{
    top:65%;
    left:55%;
}
.rose7{
    top:40%;
    left:85%;
}
.rose8{
    top:10%;
    left:25%;
}


/*---------------eyes-------------------------*/
.eyes1{
    top:15%;
    left:60%;
}
.eyes2{
    top:40%;
    left:40%;
}
.eyes3{
    top:50%;
    left:10%;
}
.eyes4{
    top:80%;
    left:75%;
}
.eyes5{
    top:85%;
    left:25%;
}
.eyes6{
    top:65%;
    left:55%;
}
.eyes7{
    top:40%;
    left:85%;
}
.eyes8{
    top:10%;
    left:25%;
}

/*---------------sound-------------------------*/
.sound1{
    top:15%;
    left:60%;
}
.sound2{
    top:40%;
    left:40%;
}
.sound3{
    top:50%;
    left:10%;
}
.sound4{
    top:80%;
    left:75%;
}
.sound5{
    top:85%;
    left:25%;
}
.sound6{
    top:65%;
    left:55%;
}
.sound7{
    top:40%;
    left:85%;
}
.sound8{
    top:10%;
    left:25%;
}

/*---------------dress-------------------------*/
.dress1{
    top:15%;
    left:60%;
}
.dress2{
    top:40%;
    left:40%;
}
.dress3{
    top:50%;
    left:10%;
}
.dress4{
    top:80%;
    left:75%;
}
.dress5{
    top:85%;
    left:25%;
}
.dress6{
    top:65%;
    left:55%;
}
.dress7{
    top:40%;
    left:85%;
}
.dress8{
    top:10%;
    left:25%;
}

/*---------------sun-------------------------*/
.sun1{
    top:15%;
    left:60%;
}
.sun2{
    top:40%;
    left:40%;
}
.sun3{
    top:50%;
    left:10%;
}
.sun4{
    top:80%;
    left:75%;
}
.sun5{
    top:85%;
    left:25%;
}
.sun6{
    top:65%;
    left:55%;
}
.sun7{
    top:40%;
    left:85%;
}
.sun8{
    top:10%;
    left:25%;
}
/*---------------necessary-------------------------*/
/*.necessary1{*/
/*    top:15%;*/
/*    left:60%;*/
/*}*/
/*.necessary2{*/
/*    top:40%;*/
/*    left:40%;*/
/*}*/
/*.necessary3{*/
/*    top:50%;*/
/*    left:10%;*/
/*}*/
/*.necessary4{*/
/*    top:80%;*/
/*    left:75%;*/
/*}*/
/*.necessary5{*/
/*    top:85%;*/
/*    left:25%;*/
/*}*/
/*.necessary6{*/
/*    top:65%;*/
/*    left:55%;*/
/*}*/
/*.necessary7{*/
/*    top:40%;*/
/*    left:85%;*/
/*}*/
/*.necessary8{*/
/*    top:10%;*/
/*    left:25%;*/
/*}*/


