.cabinet{
    position:fixed;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

.medicine{
    position: fixed;
    width: 250px;
    height:250px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.bottle{
    width:100px;
    height:160px;
    background-image:url(opng/p_bottle.png);
    background-size:100px 160px;
    position:fixed;
    top:500px;
    left:100px;
}
.bottle:hover{
    background-image:url(s_bottle.gif);
    background-size:100px 160px;
}

.circle{
    width:90px;
    height:140px;
    background-image:url(opng/p_circle.png);
    background-size:90px 140px;
    position:fixed;
    top:120px;
    left: 230px;
}
.circle:hover{
    background-image:url(r_circle.gif);
    background-size:90px 140px;
}

.capsule{
    width:160px;
    height:80px;
    margin: 170px;
    background-image:url(opng/p_capsule.png);
    background-size:160px 80px;
    position:fixed;
    top:-20px;
    left: 980px;
    bottom:0px;
}

.capsule:hover{
    background-image:url(s_capsule.gif);
    background-size:160px 80px;
}

.ointment{
    width:200px;
    height:170px;
    background-image:url(opng/p_ointment.png);
    background-size:200px 170px;
    position:fixed;
    top:590px;
    left:400px;
}

.ointment:hover{
    background-image:url(r_ointment.gif);
    background-size:200px 170px;
}


.bandage{    
    width:100px;
    height:100px;
    background-image:url(opng/s_band.gif);
    background-size:100px 100px;
    position:fixed;
    top:370px;
    left:380px;
}


.brown{
    width: 100px;
    height:150px;
    background-image:url(opng/p_brown.png);
    background-size:100px 150px;
    position:fixed;
    top:270px;
    right:390px;
}
.brown:hover{
    background-image:url(s_brown.gif);
    background-size:100px 150px;
}
.temperature{
    width:75px;
    height:160px;
    background-image:url(opng/p_temperature.png);
    background-size:75px 160px;
    position:fixed;
    top:430px;
    right:100px;
}
.temperature:hover{
    background-image:url(r_temperature.gif);
    background-size:75px 160px;
}




.jbandage10{
    position:absolute;
    width:350px;
    top:138px;
    left:310px;
}
.jbandage11{
    position:absolute;
    width:440px;
    top:172px;
    left:640px;
}
.jbandage12{
    position:absolute;
    width:420px;
    top:220px;
    left:210px;
}
.jbandage13{
    position:absolute;
    width:440px;
    top:258px;
    left:630px;
}
.jbandage14{
    position:absolute;
    width:450px;
    top:447px;
    left:243px;
}
.jbandage15{
    position:absolute;
    width:408px;
    top:408px;
    left:693px;
}
.jbandage16{
    position:absolute;
    width:426px;
    top:599px;
    left:316px;
}
.jbandage17{
    position:absolute;
    width:480px;
    top:546px;
    left:742px;
}


.jbandage2{
    position:absolute;
    width:320px;
    top:1500px;
    left:410px;
}
.jbandage9{
    position:absolute;
    width:250px;
    top:1584px;
    left:729px;
}
.jbandage4{
    position:absolute;
    width:260px;
    top:1765px;
    left:469px;
}
.jbandage5{
    position:absolute;
    width:280px;
    top:1862px;
    left:729px;
}
.jbandage1{
    position:absolute;
    width:210px;
    top:2090px;
    left:519px;
}
.jbandage3{
    position:absolute;
    width:210px;
    top:1982px;
    left:519px;
}
.jbandage6{
    position:absolute;
    width:230px;
    top:2103px;
    left:729px;
}
.jbandage7{
    position:absolute;
    width:240px;
    top:2159px;
    left:489px;
}
.jbandage8{
    position:absolute;
    width:260px;
    top:2271px;
    left:729px;
}

