.cabinet{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

.medicine{
    position: fixed;
    width: 250px;
    height:250px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.bottle{
    width:100px;
    height:160px;
    background-image:url(opng/p_bottle.png);
    background-size:100px 160px;
    position:fixed;
    top:500px;
    left:100px;
}
.bottle:hover{
    background-image:url(s_bottle.gif);
    background-size:100px 160px;
}

.circle{
    width:90px;
    height:140px;
    background-image:url(opng/p_circle.png);
    background-size:90px 140px;
    position:fixed;
    top:120px;
    left: 230px;
}
.circle:hover{
    background-image:url(r_circle.gif);
    background-size:90px 140px;
}

.capsule{
    width:160px;
    height:80px;
    margin: 170px;
    background-image:url(opng/p_capsule.png);
    background-size:160px 80px;
    position:fixed;
    top:-20px;
    left: 980px;
    bottom:0px;
}

.capsule:hover{
    background-image:url(s_capsule.gif);
    background-size:160px 80px;
}

.ointment{
    width:200px;
    height:170px;
    background-image:url(opng/p_ointment.png);
    background-size:200px 170px;
    position:fixed;
    top:590px;
    left:400px;
}

.ointment:hover{
    background-image:url(r_ointment.gif);
    background-size:200px 170px;
}


.bandage{    
    width:100px;
    height:100px;
    background-image:url(opng/p_bandage.png);
    background-size:100px 100px;
    position:fixed;
    top:370px;
    left:380px;
}
.bandage:hover{  
    background-image:url(s_band.gif);
    background-size:100px 100px;
}


.brown{
    width: 100px;
    height:150px;
    background-image:url(s_brown.gif);
    background-size:100px 150px;
    position:fixed;
    top:270px;
    right:390px;
}
.temperature{
    width:75px;
    height:160px;
    background-image:url(opng/p_temperature.png);
    background-size:75px 160px;
    position:fixed;
    top:430px;
    right:100px;
}
.temperature:hover{
    background-image:url(r_temperature.gif);
    background-size:75px 160px;
}




.vitamin5{
    position:absolute;
    width:200px;
    top:140px;
    left:505px;
}
.vitamin13{
    position:absolute;
    width:300px;
    top:210px;
    left:705px;
}
.vitamin3{
    position:absolute;
    width:240px;
    top:421px;
    left:431px;
}
.vitamin14{
    position:absolute;
    width:230px;
    top:455px;
    left:670px;
}
.vitamin4{
    position:absolute;
    width:160px;
    top:573px;
    left:470px;
}
.vitamin1{
    position:absolute;
    width:200px;
    top:695px;
    left:470px;
}

.vitamin12{
    position:absolute;
    width:230px;
    top:696px;
    left:760px;
}
.vitamin2{
    position:absolute;
    width:330px;
    top:806px;
    left:670px;
}




.vitamin9{
    position:absolute;
    width:200px;
    top:1700px;
    left:570px;
}
.vitamin6{
    position:absolute;
    width:300px;
    top:1625px;
    left:770px;
}
.vitamin11{
    position:absolute;
    width:240px;
    top:1895px;
    left:465px;
}
.vitamin7{
    position:absolute;
    width:400px;
    top:1958px;
    left:705px;
}
.vitamin10{
    position:absolute;
    width:300px;
    top:2135px;
    left:365px;
}
.vitamin8{
    position:absolute;
    width:350px;
    top:2210px;
    left:665px;
}


.vitamin16{
    position:absolute;
    width:300px;
    top:3050px;
    left:455px;
}
.vitamin18{
    position:absolute;
    width:280px;
    top:3135px;
    left:755px;
}
.vitamin15{
    position:absolute;
    width:350px;
    top:3356px;
    left:355px;
}
.vitamin17{
    position:absolute;
    width:300px;
    top:3416px;
    left:705px;
}