.cabinet{
    font-family: monospace;
    font-size: 200px;
    text-align: center;
}
.medicine{
    margin-left:600px;
    margin-top: 30px;
}
.bottle{
    margin-left: 340px;
}
.circle{
    margin: 500px;
}
.div{
    margin: 170px;
}
.ointment{
    margin: 120px;
}
.vitamin{
    margin:190px;
}
.band{
    margin-left:400px;
}
.brown{
    margin: 290px;
}