.cabinet{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

.medicine{
    margin-left:620px;
    margin-top: 30px;
    position: absolute;
    top:50%
    left:50%;
}
.bottle{
    margin-left: 340px;
}

.circle{
    margin: 500px;
}

.div{
    margin: 170px;
}

.ointment{
    margin: 90px;
}

.vitamin{
    margin:190px;
}

.band{
    margin-left:400px;
}

.brown{
    margin: 300px;
}
.temperature{
    margin: 670px;
}

