.cabinet{
    font-family: monospace;
    font-size: 30px;
}
h1{
    left:46%;
    position:fixed;
}

.medicine{
    position: fixed;
    width: 250px;
    height:250px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.bottle{
    width:100px;
    height:160px;
    background-image:url(opng/p_bottle.png);
    background-size:100px 160px;
    position:fixed;
    top:500px;
    left:100px;
    transition: 1s ease;
}
.bottle:hover{
    background-image:url(s_bottle.gif);    
    background-size:130px 190px;
    width:130px;
    height:190px
}

.circle{
    width:90px;
    height:140px;
    background-image:url(opng/p_circle.png);
    background-size:90px 140px;
    position:fixed;
    top:120px;
    left: 230px;
    transition: 1s ease;
}
.circle:hover{
    background-image:url(r_circle.gif);
    background-size:100px 150px;
    width:100px;
    height:150px;
    
}

.capsule{
    width:180px;
    height:100px;
    margin: 170px;
    background-image:url(s_capsule.gif);
    background-size:180px 100px;
    position:fixed;
    top:-20px;
    left: 980px;
    bottom:0px;
}




.ointment{
    width:200px;
    height:170px;
    background-image:url(opng/p_ointment.png);
    background-size:200px 170px;
    position:fixed;
    top:590px;
    left:400px;
    transition: 1s ease;
}

.ointment:hover{
    background-image:url(r_ointment.gif);
    background-size:240px 210px;
    width:240px;
    height:210px;
}

.bandage{    
    width:100px;
    height:100px;
    background-image:url(opng/p_bandage.png);
    background-size:100px 100px;
    position:fixed;
    top:370px;
    left:380px;
    transition: 1s ease;
}
.bandage:hover{  
    background-image:url(s_band.gif);
    background-size:130px 130px;
    width:130px;
    height:130px;
}


.brown{
    width: 100px;
    height:150px;
    background-image:url(opng/p_brown.png);
    background-size:100px 150px;
    position:fixed;
    top:270px;
    right:390px;
    transition: 1s ease;
}
.brown:hover{
    background-image:url(s_brown.gif);
    background-size:120px 170px;
    width:120px;
    height:170px;
}
.temperature{
    width:75px;
    height:160px;
    background-image:url(opng/p_temperature.png);
    background-size:75px 160px;
    position:fixed;
    top:430px;
    right:100px;
    transition: 1s ease;
}
.temperature:hover{
    background-image:url(r_temperature.gif);
    background-size:95px 180px;
    width:95px;
    height:180px;
}



.capsule11{
    position:absolute;
    width: 200px;
    top:180px;
    left:320px;
}

.capsule15{
    position:absolute;
    width:300px;
    top:140px;
    left:520px;
}
.capsule3{
    position:absolute;
    width:100px;
    top:381px;
    left:450px;
}
.capsule2{
    position:absolute;
    width:450px;
    top:318px;
    left:550px;
}


.capsule1{
    position:absolute;
    width:280px;
    top:380px;
    left:844px;
}

.capsule12{
    position:absolute;
    width:200px;
    top:599px;
    left:333px;
}
.capsule5{
    position:absolute;
    width:311px;
    top:636px;
    left:533px;
}





.capsule10{
    position:absolute;
    width:300px;
    top:1660px;
    left:280px;
}

.capsule6{
    position:absolute;
    width:300px;
    top:1626px;
    left:580px;
}
.capsule13{
    position:absolute;
    width:300px;
    top:1585px;
    left:880px;
}

.capsule14{
    position:absolute;
    width:300px;
    top:1901px;
    left:160px;
}
.capsule4{
    position:absolute;
    width:300px;
    top:1867px;
    left:450px;
}
.capsule16{
    position:absolute;
    width:400px;
    top:1826px;
    left:750px;
}
.capsule9{
    position:absolute;
    width:350px;
    top:2090px;
    left:110px;
}
.capsule7{
    position:absolute;
    width:350px;
    top:2140px;
    left:460px;
}
.capsule8{
    position:absolute;
    width:510px;
    top:2080px;
    left:810px;
}