.cabinet{
    
    position:fixed;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

.medicine{
    position: fixed;
    width: 250px;
    height:250px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.bottle{
    width:100px;
    height:160px;
    background-image:url(opng/p_bottle.png);
    background-size:100px 160px;
    position:fixed;
    top:500px;
    left:100px;
}
.bottle:hover{
    background-image:url(s_bottle.gif);
    background-size:100px 160px;
}

.circle{
    width:90px;
    height:140px;
    background-image:url(opng/p_circle.png);
    background-size:90px 140px;
    position:fixed;
    top:120px;
    left: 230px;
}
.circle:hover{
    background-image:url(r_circle.gif);
    background-size:90px 140px;
}

.capsule{
    width:160px;
    height:80px;
    margin: 170px;
    background-image:url(opng/p_capsule.png);
    background-size:160px 80px;
    position:fixed;
    top:-20px;
    left: 980px;
    bottom:0px;
}

.capsule:hover{
    background-image:url(s_capsule.gif);
    background-size:160px 80px;
}

.ointment{
    width:200px;
    height:170px;
    background-image:url(r_ointment.gif);
    background-size:200px 170px;
    position:fixed;
    top:590px;
    left:400px;
}

.vitamin{
    width:80px;
    height:80px;
    background-image:url(opng/p_lemon.png);
    background-size:80px 80px;
    position:fixed;
    top:600px;
    left:990px;
}
.vitamin:hover{
    background-image:url(r_vc.gif);
    background-size:80px 80px;
}

.bandage{    
    width:100px;
    height:100px;
    background-image:url(opng/p_bandage.png);
    background-size:100px 100px;
    position:fixed;
    top:370px;
    left:380px;
}
.bandage:hover{  
    background-image:url(s_band.gif);
    background-size:100px 100px;
}


.brown{
    width: 100px;
    height:150px;
    background-image:url(opng/p_brown.png);
    background-size:100px 150px;
    position:fixed;
    top:270px;
    right:390px;
}
.brown:hover{
    background-image:url(s_brown.gif);
    background-size:100px 150px;
}
.temperature{
    width:75px;
    height:160px;
    background-image:url(opng/p_temperature.png);
    background-size:75px 160px;
    position:fixed;
    top:430px;
    right:100px;
}
.temperature:hover{
    background-image:url(r_temperature.gif);
    background-size:75px 160px;
}




.ointment8{
    position:absolute;
    width:330px;
    top:140px;
    left:460px;
}
.ointment3{
    position:absolute;
    width:280px;
    top:193px;
    left:790px;
}
.ointment10{
    position:absolute;
    width:330px;
    top:479px;
    left:350px;
}
.ointment11{
    position:absolute;
    width:330px;
    top:525px;
    left:680px;
}



.ointment2{
    position:absolute;
    width:250px;
    top:1500px;
    left:350px;
}
.ointment5{
    position:absolute;
    width:250px;
    top:1530px;
    left:600px;
}
.ointment12{
    position:absolute;
    width:200px;
    top:1604px;
    left:850px;
}
.ointment6{
    position:absolute;
    width:250px;
    top:1684px;
    left:400px;
}
.ointment1{
    position:absolute;
    width:280px;
    top:1800px;
    left:600px;
}
.ointment4{
    position:absolute;
    width:300px;
    top:1800px;
    left:820px;
}
.ointment9{
    position:absolute;
    width:300px;
    top:1933px;
    left:300px;
}
.ointment7{
    position:absolute;
    width:300px;
    top:2054px;
    left:542px;
}