.Haley{
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
}

.studio {
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    /*background-color: #a2acf6;*/
    /*height:300px;*/
    /*width:300px;*/
    /*border-radius:300px;*/
    /*-moz-border-radious: 500px;*/
    /*-webkit-border-radious: 500px;*/
    position: left;
    margin-left: 20px;
}
.Lab {
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    position: left;
    margin-left: 20px;
}
