#Haley{
    font-size: 200px;
}

#studio {
    font-family: monospace;
    font-size: 100px;
    text-align: center;
}
#lab {
    font-family: monospace;
    font-size: 100px
    vertical-align: center;
    
}
h {
    font-family:monospace;
}