#red {
    color: purple;
    font-family: cursive;
    font-size: 23px;
}

#orange {
    color: DarkCyan;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#yellow {
    color: skyblue;
    font-family: Garamond;
    font-size: 15px;
}


#G {
    color: #fb9f13;
    font-family: monospace;
    font-size: 13px;
}

#B {
    color: rgba(255,192,203, 0.8);
    font-family: Univers;
    font-size: 10px;
}

#DB {
    color: black;
    font-family: fantasy;
    font-size: 8px;
}

#P {
    color: #ffc0cb;
    font-family: monospace;
    font-size: 7px;
}
#grey {
    background-color: white;
    color: red;
    font-family: fantasy;
    font-size: 30px;
}

#black {
    font-family: cursive;
}

