div {
  margin: 20px;
  padding-left: 8px;
}


#red {
    color: #5f00f6;
    font-family: cursive;
    font-size: 23px;
    text-align: center;
}

#orange {
    color: #0029f6;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

#yellow {
    color: DarkCyan;
    font-family: Garamond;
    font-size: 15px;}


#G {
    color: #00f0f6;
    font-family: monospace;
    font-size: 13px;}

#B {
    color: #e8ff2d;
    font-family: Univers;
    font-size: 10px;}

#DB {
    color: #ffb72d;
    font-family: fantasy;
    font-size: 8px;}

#P {
    color: #ffc0cb;
    font-family: monospace;
    font-size: 7px;}
    
#grey {
    background-color: white;
    color: red;
    font-family: fantasy;
    font-size: 30px;}

#black {
    font-family: cursive;
    font-size: 50px;
}
