.button{
    top:-10%;
    margin:0;
    padding:0;
    display:block;
    text-align:center;
}
.next{
    font-size:160%;
}


h4{
    font-family:univers;
    position:absolute;
    margin:0;
    padding:0;
    display:inline-block;
}
.ws1{
    top:50%;
    left:70%;
}
.ws2{
    top:53%;
    left:70%;
}
.ss3{
    top:56%;
    left:70%;
}
.ss4{
    top:59%;
    left:70%;
}
.ss5{
    top:62%;
    left:70%;
}
.ss6{
    top:65%;
    left:70%;
}
.ss7{
    top:68%;
    left:70%;
}
.ss8{
    top:71%;
    left:70%;
}
.ss9{
    top:74%;
    left:70%;
}



/*---------------img-------------------------*/
.ww{
    position:absolute;
    margin:0;
    padding:0;
    display:inline-block;
}
.cloud1{
    top:15%;
    left:30%;
}
.cloud2{
    top:20%;
    left:45%;
}
.cloud3{
    top:18%;
    left:65%;
}
.cloud4{
    top:22%;
    left:18%;
}
.sun1{
   top:15%;
   left:10%;
}
.tree{
   top:60%;
   left:18%;
}
.bird{
   top:60%;
   left:18%;
}
.melody{
   top:55%;
   left:30%;
}
.lf{
    top:40%;
    left:40%;
}
.lf1{
    top:30%;
    left:30%;
}