body{
    background-color:black;
}

.wrapper{
    position:relative;
}


.intro{
    margin-left:350px;
    font-family:helvetica;
    font-size:20px;
    color:#ffffff; 
    border:2px solid #ffffff;
    width:235px;
}
.next{
    position:absolute;
    top:100px;
    left:800px;
    font-family:helvetica;
    font-size:10px;
    color:#ffffff;
}
.pink15{
    position:absolute;
    background-color: #FD00FF;
    top:80px;
    left:80px;
    width: 20px;
    height:80px;
}
.info{
    position:absolute;
    top:500px;
    left:800px;
    font-family:helvetica;
    font-size:10px;
    color:#ffffff;
}


.container {
    position:absolute;
    width: 340px;
    height:600px;
    color:#ffffff;
    border: 3px solid #ffffff;
    margin-top:80px;
    margin-left: 350px;
}
.blue {
    position:absolute;
    background-color: #0038FF;
    width: 20px;
    height:40px;
}
.bluebottom{
    top:20px;
    width:40px;
    height:20px;
    left:20px;
}
.bbb{
    position:absolute;
    top:560px;
    left:0px;
}
    
.green {
    position:absolute;
    background-color: #3CFF00;
    width: 20px;
    height:40px;
}
.greenbottom{
    top:20px;
    left:20px;
}

.zgreen{
    position:absolute;
    top:520px;
    left:0px;
}
.zgreen1{
    position:absolute;
    top:500px;
    left:20px;
}

.yellow{
    position: absolute;
    background-color:#F0FF00;
    width:20px;
    height:40px;
}
.yellowtop{
    top:20px;
    left:20px;
}
.zyellow{
    position:absolute;
    top:580px;
    left:100px;
    transform:rotate(90deg);
}

.purple{
    position:absolute;
    background-color: #9600FF;
    width: 60px;
    height:20px;
    top:20px;
}
.purplebottom{
    top:0px;
    width:20px;
    left:20px;
}
.f{
    position:absolute;
    top:580px;
    left:120px;
    transform:rotate(180deg);
}



.sky{
    position:absolute;
    background-color: #00f9ff;
    width: 40px;
    height:40px;
    top:560px;
    left:100px;
    
}
.f1{
    position:absolute;
    top:560px;
    left:140px;
}

.red{
    position:absolute;
    background-color:#FF0000;
    width:20px;
    height:40px;
}
.redbottom{
    position:absolute;
    background-color:#FF0000;
    height:20px;
    width:40px;
    left:20px;
}
.rrr{
    position:absolute;
    top:540px;
    left:220px;
    transform:rotate(90deg);
}

.zyellow2{
    position:absolute;
    top:500px;
    left:180px;
}
.pink{
    position:absolute;
    background-color: #FD00FF;
    top:520px;
    left:220px;
    width: 20px;
    height:80px;
}
.zyellow3{
    position:absolute;
    top:580px;
    left:300px;
    transform:rotate(90deg);
}
.bbb1{
    position:absolute;
    top:600px;
    left:340px;
    transform:rotate(180deg);
}
.rrr1{
    position:absolute;
    top:520px;
    left:160px;
    transform:rotate(90deg);
}
.bbb2{
    position:absolute;
    top:480px;
    left:140px;
    transform:rotate(90deg);
}
.zyellow4{
    position:absolute;
    top:480px;
    left:80px;
}
.rrr5{
    position:absolute;
    top:500px;
    transform:rotate(270deg);
}
.zyellow5{
    position:absolute;
    top:240px;
    left:60px;
    transform:rotate(90deg);
}
.rrr6{
    position:absolute;
    top:220px;
}
.f3{
    position:absolute;
    top:220px;
    left:20px;
    transform:rotate(270deg);
}
.zgreen3{
    position:absolute;
    background-color:grey;
    top:140px;
    left:60px;
    transform:rotate(90deg);
}

/*-----------------bottomline---------------------------*/

.pink1{
    position:absolute;
    background-color: #FD00FF;
    top:480px;
    left:290px;
    width: 20px;
    height:80px;
}
.rrr2{
    position:absolute;
    top:440px;
    left:260px;
}
.rrr3{
    position:absolute;
    top:480px;
    left:340px;
    transform:rotate(180deg);
}
.pink2{
    position:absolute;
    background-color: #FD00FF;
    top:480px;
    left:140px;
    width: 80px;
    height:20px;
}
.rrr4{
    position:absolute;
    top:420px;
    left:240px;
    transform:rotate(90deg);
}
.bbb3{
    position:absolute;
    top:400px;
    left:140px;
}
.pink3{
    position:absolute;
    background-color: #FD00FF;
    top:380px;
    left:160px;
    width: 80px;
    height:20px;
}
.pink4{
    position:absolute;
    background-color: #FD00FF;
    top:400px;
    left:100px;
    width: 20px;
    height:80px;
}

.bbb4{
    position:absolute;
    top:340px;
    left:80px;
    transform:rotate(90deg);
}
.bbb5{
    position:absolute;
    top:400px;
    left:60px;
    transform:rotate(270deg);
}
.pink5{
    position:absolute;
    background-color: #FD00FF;
    top:400px;
    left:20px;
    width: 20px;
    height:80px;
}


/*-----------------bottom-"ast"---------------------------*/
.zgreen2{
    position:absolute;
    top:300px;
    left:140px;
    transform:rotate(90deg);
}
.f2{
    position:absolute;
    top:280px;
    left:100px;
    transform:rotate(90deg);
}
.sky1{
    position:absolute;
    background-color: #00f9ff;
    width: 40px;
    height:40px;
    top:260px;
    left:120px;
}
.pink6{
    position:absolute;
    background-color: #FD00FF;
    top:180px;
    left:120px;
    width: 20px;
    height:80px;
}
.bbb6{
    position:absolute;
    top:160px;
    left:140px;
    transform:rotate(0deg);
}
.pink7{
    position:absolute;
    background-color: #FD00FF;
    top:140px;
    left:140px;
    width: 100px;
    height:20px;
}
.sky2{
    position:absolute;
    background-color: #00f9ff;
    width: 40px;
    height:40px;
    top:100px;
    left:140px;
}
.bbb8{
    position:absolute;
    top:100px;
    left:180px;
    background-color:#C7C7C7;
}




/*-----------------bottom-"so"---------------------------*/
.pink8{
    position:absolute;
    background-color: #FD00FF;
    top:120px;
    left:20px;
    width: 80px;
    height:20px;
}
.rrr7{
    position:absolute;
    top:60px;
    left:120px;
    transform:rotate(90deg);
}
.bbb7{
    position:absolute;
    top:40px;
    left:20px;
}
.pink9{
    position:absolute;
    background-color: #FD00FF;
    top:20px;
    left:40px;
    width: 80px;
    height:20px;
}

.f4{
    position:absolute;
    top:40px;
    left:160px;
    transform:rotate(180deg);
}

.rrr8{
    position:absolute;
    left:200px;
}
.rrr9{
    position:absolute;
    left:300px;
    transform:rotate(90deg);
}
.rrr10{
    position:absolute;
    top:120px;
    left:200px;
    transform:rotate(270deg);
}
.rrr11{
    position:absolute;
    top:120px;
    left:300px;
    transform:rotate(180deg);
}


.blackandwhite{
    background-color:grey;
    /*border: solid 1px black;*/
}