
/*.ch {*/
/*    width: 500px;*/
/*    height: 700px;*/
/*    position: absolute;*/
/*    margin: 0 auto;*/
/*}*/

.pattern {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
}