.ch {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
}
/*.pattern {*/
/*    width: 1000px;*/
/*    height: 800px;*/
/*    margin: 0 auto;*/
/*    margin-top: 50px;*/
/*}*/