.button{
    top:-10%;
    margin:0;
    padding:0;
    display:block;
    text-align:center;
}

h4{
    font-family:univers;
    position:absolute;
    margin:0;
    padding:0;
    display:none;
}
.us1{
    top:50%;
    left:70%;
}
.us2{
    top:53%;
    left:70%;
}
.us3{
    top:56%;
    left:70%;
}
.us4{
    top:59%;
    left:70%;
}
.us5{
    top:62%;
    left:70%;
}
.us6{
    top:65%;
    left:70%;
}
.us7{
    top:68%;
    left:70%;
}



/*---------------img-------------------------*/

.uw{
    position:absolute;
    margin:0;
    padding:0;
    display:inline-block;
}

/*---------------ocean-------------------------*/
.ocean1{
    top:55%;
    left:40%;
}
.ocean2{
    top:15%;
    left:25%;
}
.ocean3{
    top:85%;
    left:30%;
}
.ocean4{
    top:20%;
    left:75%;
}
.ocean5{
    top:30%;
    left:55%;
}
.ocean6{
    top:40%;
    left:10%;
}
.ocean7{
    top:70%;
    left:80%;
}